.rules-text {
    font-size: 16px;
    display: flex;
    flex-direction: column;   
    align-items: center;      
    justify-content: center;  
    height: 100%;             
    text-align: left;       
    padding: 10px;    
}

.rules-text ul {
  padding-left: 1em;  
  margin-left: 0;     
  list-style-position: inside; 
}

.rules-text li {
  margin-bottom: 0.5em; 
}